body {
	margin: 0;
}
.center {
	position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); white-space: nowrap;
}


#top {
	height: 200px;
}
	#left {
		position: absolute; left: 30px; top: 30px;
	}
		#left > div {
			display: inline-block;
		}
		
		.plantButton {
			cursor: pointer; user-select: none;
			color: white;
			border-radius: 15px;
			width: 140px; height: 35px;
			position: relative; vertical-align: top;
			margin-top: 10px;
		}
		
	#right {
		position: absolute; right: 30px; top: 30px;
		width: 200px;
		border: px solid black;
	}
		#right > div {
			display: inline-block;
		}
		
		
		#sellFruitsButton {
			cursor: pointer; user-select: none;
			color: white;
			border-radius: 15px;
			width: 160px; height: 35px;
			position: relative; vertical-align: top; left: 50%; transform: translate(-50%,0);
			margin-top: 10px; margin-bottom: 20px;
			background: green;
		}
	.value {
		display: inline-block;
	}



#garden {
	width: 1200px; max-width: 90%;
	position: relative; left: 50%; transform: translate(-50%,0);
	border: px solid black;
}
	.tree {
		width: 200px; height: 210px;
		position: relative; left: 10px; display: inline-block;
		margin-right: 20px; cursor: pointer;
	}
		.treeImage {
			position: absolute; left: 0; top: 0;
			width: 100%; height: 100%;
			background: url(../images/tree.png) no-repeat; background-size: contain; background-position: center;
		}
		.applesImage {
			position: absolute; left: 0; top: 0;
			width: 100%; height: 100%;
			background: url(../images/apples.png) no-repeat; background-size: contain; background-position: center;
		}
		.pearsImage {
			position: absolute; left: 0; top: 0;
			width: 100%; height: 100%;
			background: url(../images/pears.png) no-repeat; background-size: contain; background-position: center;
		}
		
		
